<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Edit Product</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
<div class="container">
    <h2>Edit Product</h2>

    <form th:action="@{/products/update}" method="get" th:object="${product}">
        <input type="hidden" th:field="*{productId}">

        <input type="text" th:field="*{productName}">
        <input type="number" th:field="*{price}">
        <input type="text" th:field="*{category}">
        <input type="number" th:field="*{quantity}">

        <button type="submit">Update</button>
        <a th:href="@{/products}">Cancel</a>
    </form>
</div>
</body>
</html>
