body {
    font-family: "Times New Roman", serif;
    background-color: #fff;
    color: #000;
    line-height: 1.6;
    margin: 40px auto;
    width: 80%;
    max-width: 900px;

}

h1 {
    font-size: 2.5em;
    border-bottom: 1px solid #aaa;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
}

p {
    text-align: justify;
    margin-bottom: 1em;
    text-indent: 2em; /* thụt vào 2em ở đầu dòng */
}

.subtitle {
    color: #555;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 1em;
    text-indent: 0; /* không thụt vào đoạn này */
}


a {
    color: #0645ad;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

b {
    font-weight: bold;
}